<% if ! dim.nil?  %>	
	<tr>
		<td><%= dim[:dimension_name] %></td>
		<td><%= dim[:dimension_expected_value] %></td>
		<td><%= dim[:dimension_actual_value] %></td>
		<td><%= dim[:dimension_status] %></td>
	</tr>
<% end %>

